@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div>
    <a href="https://learn.microsoft.com/en-us/aspnet/core/tutorials/min-web-api?view=aspnetcore-7.0&tabs=visual-studio">Useful stuff</a><br />
    <a href="https://localhost:7217/chirp/">Chirp response</a>

</div>

<div>
</div>

@{
    /*
     //Note for this code: https://medium.com/@Sharad35386442/6-different-ways-to-do-ajax-calls-in-javascript-b47200fe7a38
     //https://developer.mozilla.org/en-US/docs/Web/Guide/AJAX/Getting_Started
    */
}

@section Scripts {
    <script type="text/javascript">
        

        function loadFrame() {
            const httpRequest = new XMLHttpRequest();
            httpRequest.open("GET", '/Chirp/', true);
            httpRequest.send();
            httpRequest.onreadystatechange = (e) => {
                if (httpRequest.readyState === XMLHttpRequest.DONE) {
                    console.log(httpRequest.responseText)

                    if (httpRequest.status === 200) {
                        alert(httpRequest.responseText);
                    } else {
                        alert("Could now load Chirps.");
                    }
                }
            }
        }


        document.addEventListener("DOMContentLoaded", () => {
            loadFrame();
        });

    </script>
}