@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div>
    <a href="https://learn.microsoft.com/en-us/aspnet/core/tutorials/min-web-api?view=aspnetcore-7.0&tabs=visual-studio">Useful stuff</a><br />
    <a href="https://localhost:7217/chirp/">Chirp response</a>

</div>

@section Scripts {
    <script type="text/javascript">
        
        function loadFrame() {
            const Http = new XMLHttpRequest();
            const url = '/Chirp/';
            Http.open("GET", url);
            Http.send();
            Http.onreadystatechange = (e) => {
                console.log(Http.responseText)
            }
        }
            

        document.addEventListener("DOMContentLoaded", () => {
            loadFrame();
        });
        
    </script>
}