@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with sdfsfdsaf ASP.NET Core</a>.</p>
</div>


<div>
    <a href="https://learn.microsoft.com/en-us/aspnet/core/tutorials/min-web-api?view=aspnetcore-7.0&tabs=visual-studio">Useful stuff</a><br />
    <a href="https://localhost:7217/chirp/">Chirp response</a>

</div>
<br />


<div id="recentChirps">
</div>

@{
    /*
     //Note for this code: https://medium.com/@Sharad35386442/6-different-ways-to-do-ajax-calls-in-javascript-b47200fe7a38
     //https://developer.mozilla.org/en-US/docs/Web/Guide/AJAX/Getting_Started
    */
}

@section Scripts {
    <script type="text/javascript">
        
        function loadFrame() {
            const httpRequest = new XMLHttpRequest();
            httpRequest.open("GET", '/Chirp/', true);
            httpRequest.send();
            httpRequest.onreadystatechange = (e) => {
                if (httpRequest.readyState === XMLHttpRequest.DONE) {
                    if (httpRequest.status === 200) {
                        var chirps = httpRequest.responseText;

                        JSON.parse(chirps).forEach(function (currentRecord) {
                            //let vs const?
                            let div = document.createElement("div");
                            let p = document.createElement("p");

                            let newContent = document.createTextNode(currentRecord.messageText);
                            div.appendChild(newContent);
                            //div.append(currentRecord.created, p);
                            //document.getElementById("recentChirps").append(currentRecord.messageText, p);
                            document.querySelector("#recentChirps").appendChild(div);
                        });

                    } else {
                        //todo Add a real error message
                        alert("Could now load Chirps.");
                    }
                }
            }
        }

        function addChirp() {

            //testees 
        }

        document.addEventListener("DOMContentLoaded", () => {
            loadFrame();
        });

    </script>
}